* {
    font-family: 'Poppins', sans-serif;
  }
  

.banner img {
    width: 100%;
    height: 50%
}



.caixa_busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    background-color: white;
  }
  
  .logo img {
    width: 80%;
    height: 15vh;
    object-fit: contain;
    cursor: pointer;
  }
  
  .links_nav {
    display: flex;
    gap: 3rem;
  }
  
  .links_nav a {
    text-decoration: none;
    color: #005600;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
  }
  
.links_nav a {
  text-decoration: none;
  color: #005600;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  position: relative; 
  padding-bottom: 5px; 
  transition: color 0.3s ease;
}

.links_nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #005600;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.links_nav a:hover::after {
  transform: scaleX(1);
}



.banner {
    position: relative;
    width: 100%;
  }
  
  
  .botao_banner {
    position: absolute;
    bottom: 25%;
    left: 11%; /* Muda aqui para ajustar mais à esquerda */
  }
  
  .botao_banner button {
    position: absolute;
    padding: 2.2vh 5vw;
    border-radius: 1.5rem;
    background-color: #005600;
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    text-wrap: nowrap;
  }
  
.botao_banner button:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in;

}


.categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ddd;
}

.icone_com_texto {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.icone_com_texto i {
  font-size: 2rem;
  color: #005600;
}

.icone_com_texto p {
  font-size: 1rem;
  color: #333;
}

.icone_com_texto:hover {
  transform: scale(1.1);
}
